
@model UsersProfileViewModel


@{
    this.ViewData["Title"] = "Profile";
}



<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img width="200" height="200" style="width:60%; margin-top:-100px; margin-left:75px; border-radius:50%;box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgb(0, 0, 0); " src="@Model.ImageUrl"
                                 alt="Circle Image" class=" centered-and-cropped">
                        </div>


                        <div class="name">
                            <h1 style="font-size:45px; letter-spacing:3px; text-align: center; margin-top: 20px;margin-bottom: 20px"> @Model.FirstName @Model.LastName</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="description text-center" style="display:flex;justify-content:center;align-items:center;">
                <p id="FollowCount">
                    @Model.Followed
                </p>
                <p>
                    &nbsp;Following &nbsp;&nbsp;
                </p>
                <p id="FollowersCount">
                    @Model.Followers
                </p>
                <p>
                    &nbsp;Followers
                </p>
            </div>


            @if (Model.Description != "There is no description yet. Click edit to customize your profile." || User.Identity.Name == Model.Username)
            {
                <div class="description text-center" style="margin-bottom:15px;margin-top:10px;">
                    <p>
                        @Model.Description
                    </p>
                </div>
            }
            @if (User.Identity.Name == Model.Username)
            {
                <div style="display:flex;justify-content:center;align-items:center;">
                    <div style="width:100px;height:30px;">

                        <a href="/User/Edit" class="btn btn-primary btn-lg btn-outline-dark" style=" border-radius: 25px; width:100px; height:30px; font-weight:500;" value="Edit">Edit</a>
                    </div>
                </div>
                Html.RenderPartial("_PostCreatePartial");

            }
            else if (Model.IsFollowed == "Not Followed")
            {
                <div style="display:flex;justify-content:center;align-items:center;">
                    <div>
                        <button class="Follow-Button" onclick="Follow(`@Model.UserId`)" id="NotFollowed">Follow</button>
                        <a href="/Message?receiverId=@Model.UserId"><button class="Follow-Button" id="NotFollowed">Message </button></a>

                    </div>
                </div>

            }
            else if (Model.IsFollowed == "Followed")
            {
                <div style="display:flex;justify-content:center;align-items:center;">
                    <div>
                        <button class="Follow-Button" onclick="Follow(`@Model.UserId`)" id="Followed">Following</button>
                        <a href="/Message?receiverId=@Model.UserId"><button class="Follow-Button" id="NotFollowed">Message </button></a>
                    </div>
                </div>

            }

            <section class="hero">

                @if (@Model.PostsViewModels.Count > 0)
                {
                    foreach (PostViewModel item in Model.PostsViewModels)
                    {
                        Html.RenderPartial("_PostPartial", item);
                    }
                }
                else
                {
                    <h3 style="text-align:center">
                        You have no posts yet.
                        Click new post to create one!
                    </h3>
                }


            </section>
        </div>
    </div>
</div>

<!-- Jquery needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->


<script>
    var accItem = document.getElementsByClassName('accordionItem');
    var accHD = document.getElementsByClassName('accordionItemHeading');
    for (i = 0; i < accHD.length; i++) {
        accHD[i].addEventListener('click', toggleItem, false);
    }
    function toggleItem() {
        var itemClass = this.parentNode.className;
        for (i = 0; i < accItem.length; i++) {
            accItem[i].className = 'accordionItem close';
        }
        if (itemClass == 'accordionItem close') {
            this.parentNode.className = 'accordionItem open';
        }
    }
</script>

<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<script>
    function Follow(UserId) {


        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {

            if (this.readyState == 4 && this.status == 200) {

                let button = document.getElementsByClassName(`Follow-Button`)[0];
                let followCount = document.getElementById(`FollowersCount`);

                if (xhttp.responseText == `Followed`) {

                    button.id = `NotFollowed`;
                    button.textContent = `Follow`;
                    followCount.textContent = parseInt(followCount.textContent) - 1;
                }
                else if (xhttp.responseText == `Not Followed`) {

                    button.id = `Followed`;
                    button.textContent = `Following`;
                    followCount.textContent = parseInt(followCount.textContent) + 1;
                }
                console.log(xhttp.responseText);
            }
        }
        xhttp.open("Post", `/Follow/FollowUser?FollowedId=${UserId}`, true);
        xhttp.send();

    }
</script>

