@model PostViewModel
<div class="container" style="margin-left:25px" id=@Model.PostId>
    <div class="row">

        <div class="col-lg-6 offset-lg-3">

            <div class="cardbox shadow-lg bg-white" style="height:auto">

                <div class="cardbox-heading">

                    <div class="media m-3 pt-3">
                        <div class="d-flex mr-0">
                            <a href="/User/Profile?uesrId=@Model.AuthorId">
                                <img class="img-fluid rounded-circle" src="@Model.UserImageUrl" alt="User">
                            </a>
                        </div>
                        <div class="media-body">
                            @if (User.Identity.Name == Model.UserName)
                            {
                                <button onclick="Delete('@Model.PostId')" class="btn btn-lg btn-outline-dark"
                                        style="width:80px; height:29px; font-weight:500; float:right;" value="Delete">
                                    Delete
                                </button>

                            }
                            <a href="/User/Profile?uesrId=@Model.AuthorId">
                                <p class="m-0">@Model.UserFullName</p>
                            </a>

                            <small>
                                <span>
                                    <i class="icon ion-md-time"></i> @Model.PostedOn.ToString("dd/MM/yyyy")
                                </span>
                            </small>
                        </div>
                    </div>
                </div>

                <div class="cardbox-item">
                    <img class="img-fluid" style="padding-bottom:30px" src="@Model.PostImageUrl" alt="Image">
                </div>
                @if (Model.HaveLikes)
                {
                    <div class="cardbox-base">
                        <ul class="float-right">
                        </ul>
                        <ul class="float-left">
                            <li><a><i class="fa fa-thumbs-up"></i></a></li>
                            <li><a><span>@Model.Likes Likes</span></a></li>
                        </ul>
                    </div>
                }
                @if (Model.HaveComments)
                {
                    <div class="cardbox-comments">
                        <span class="comment-avatar float-left">
                            <a href="">
                                <img class="rounded-circle" src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/6.jpg">
                            </a>
                        </span>
                        <div class="search">
                            <input placeholder="Write a comment" type="text">
                            <button><i class="fa fa-camera"></i></button>
                        </div>

                    </div>
                }
            </div>

        </div>
    </div>
</div>
<script>
    function Delete(id = "No Id given!") {

        //let xhttp = new XMLHttpRequest();

        //xhttp.onreadystatechange = function () {
        //    if (this.readyState == 4 && this.status == 200) {
        //        console.log("yes");
        //    }
        //    else {
        //        console.log('no');
        //    }
        //};

        var element = document.getElementById(id);
        element.parentNode.removeChild(element);
        //xhttp.open("GET", "/api/Data", true);
        //xhttp.send();

        console.log(id);
    }
</script>